* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: red;
}
main {
  width: 100%;
  height: 500px;
  background: #fff;
  margin-top: 100px;
  /* são 4 valores para arredondar os 4 cantos */
  border-radius: 15px 15px 0 0;
}
.formulario {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 5%;
  border: 0;
  background: #ccc;
  border-radius: 25px;
  outline: none;
  /* TEXTO */
  text-indent: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}
main button {
  text-indent: 0 !important;
  background: #283673 !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}
#esqueceu {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: center;
  color: #283673;
  font-weight: bold;
  margin-top: 5%;
}
